

  <div class="container">
    <br>
    <main>
    <div>
      <div class="row wrapper__padding--4">
        <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"> -->
          <p class="lead">
            We are all about food. Search for your favorite food using our service and get it delivered on your doorstep. Easy checkout.
          </p>

          <p class="small"><mark>New: </mark>upi payment option</p>
          <br>
          <blockquote>may the force be with you! :D</blockquote>

        <!-- </div> -->
      </div>
    </div>
    </main>
  </div>
