<nav id="nav" class="navbar navbar-default navbar-transparent" role="navigation" ng-controller="MainCtrl as main" abm-component>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed; toggleClass();" ng-class="class">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand hvr-grow" href="/">
        <img src="../images/runner.png" alt="" class="title">
        </a>
    </div>

    <br>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li class="hvr-grow">
          <a href="/"><i class="fas fa-home"></i> Home</a>

        </li>

        <li class="hvr-grow">
          <a href="/about"><i class="fas fa-address-card"></i> About Us</a>
        </li>


        <li class="dropdown" uib-dropdown on-toggle="toggled1(open)" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle ng-mousehover="toggleRotate()" click-outside="closeThis1()" ng-click="clickC1()">
              <i class="fas fa-user" ng-class="{'hvr-grow-current': hovering, }"></i> <small>xyz@gmail.com</small>
              <i class="fas fa-chevron-down rotate" ng-class="c1"></i>
          </a>


          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" id="header-social">

              <li><a href="#" class="hvr-grow"> <i class="fas fa-user-md"></i> Profile</a></li>
              <li><a href="#" class="hvr-grow"> <i class="fas fa-cogs"></i> Settings</a></li>
              <li><a href="#" class="hvr-grow"> <i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
          </ul>
        </li>





      </ul>
    </div>
  </div>

  <br>
</nav>
