<div ng-init="toast()">
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="input-group">
    <input type="text"
              ng-model="search"
              placeholder="Search beer..."
              class="form-control input__search" autofocus="autofocus"
              />
              <span class="input-group-addon"><a href="#" ><i class="fa fa-search hvr-grow"></i></a></span>
      </div>
      </div>

</div>

<div class="container">

<main id="home" >

  <div class="autocomplete">
  <i class="fas fa-filter" uib-tooltip="Filter by style"></i>
  <autocomplete ng-model="yourchoice" data="movies" on-type="updateMovies" attr-placeholder="Filter by styles"></autocomplete>
  <button ng-click="yourchoice=''" ng-show="yourchoice" uib-tooltip="Remove Filter" class="noborder hvr-grow"><i class="fas fa-ban"></i></button>
<p ng-show="yourchoice">style: {{yourchoice}}</p>
</div>
  <!-- <div class="viewport row" id="viewport-positionedList" ui-scroll-viewport> -->
  <div id="viewport-positionedList">
    <div class="row">


      <div class="col-sm-12 col-xs-12 visible-xs visible-sm ">
        <div class="well cart--smallscreen">



        <p class="lead cart__title" ng-show="cartEmpty"><i class="fas fa-shopping-cart"></i>
          Cart
        </p>
        <p class="lead cart__title" ng-hide="cartEmpty"><i class="fas fa-cart-plus rotonce"></i> Cart
          <button class="pull-right hvr-grow" ng-click="emptyCart()" uib-tooltip="Deletes the entire cart"><i class="fas fa-trash" tooltip-placement="top"></i> </button>

        </p>

        <div class="cart__content">
          <small ng-show="cartEmpty" >View your cart here.</small>
          <p  ng-repeat="item in cartObjItems" >

            <small>{{ item.name | limitTo: 10 }}{{item.length > 15 ? '...' : ''}}</small>
            <i class="fas fa-times"></i>
            {{item.count}}
            <small class="pull-right"><i class="fas fa-rupee-sign"></i>{{item.cost}}</small>

          </p>
          <hr ng-show="cartObjItems.length>0">
          <p ng-show="cartObjItems.length>0"><strong>Total</strong> <small class="pull-right"><i class="fas fa-rupee-sign"></i>{{total}}</small></p>

          <button class="btn btn-lg btn-warning btn--checkout" ng-hide="cartEmpty" abm-component><i class="fas fa-credit-card"></i> Checkout</button>
        </div>


        </div>
      </div>



      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">






        <!-- <ul class="list-unstyled list-inline options">



          <button class="btn btn-lg btn-warning" ng-repeat="style in styles" ng-class="{active : activeMenu === style}" ng-click="setActive(style)" abm-component>{{style}}</button>
        </ul> -->
          <ul class="list-unstyled list-inline options">


          <i class="fas fa-sort" toolip-placement="top" uib-tooltip="Sort by"></i>
          <button class="btn btn-lg btn-warning" ng-class="{active : activeOrder == 'name'}" ng-click="order = 'name'; setOrder('name')" abm-component>name</button>
          <button class="btn btn-lg btn-warning" ng-class="{active : activeOrder == 'id'}" ng-click="order = 'id'; setOrder('id')" abm-component>id</button>
          <button class="btn btn-lg btn-warning" ng-class="{active : activeOrder == 'abv'}" ng-click="order = 'abv';  setOrder('abv')" abm-component>abv</button>
          <button class="btn btn-lg btn-warning" ng-class="{active : activeOrder == 'ibu'}" ng-click="order = 'ibu'; setOrder('ibu')" abm-component>ibu</button>
          <button class="btn btn-lg btn-warning" ng-class="{active : activeOrder == 'ounces'}" ng-click="order = 'ounces'; setOrder('ounces')" abm-component>ounces</button>


        </ul>

      </div>

      <div class="item col-sm-12 col-xs-12 col-md-8 col-lg-9" >
        <div ng-repeat="menu in datasource | orderBy: order | filter: search | filter: yourchoice" class="food" id="food" >
       <ul class="list-unstyled well food__menu">
            <!-- <li>{{$index}}</li> -->
        <li><i class="fas fa-hashtag"></i><small>{{menu.id}}</small></li>
         <ul class="list-inline">

           <li class="menu__name h4"><i class="fas fa-beer"></i> {{menu.name}}</li>
           <li class="menu__price pull-right">{{menu.price | currency:"&#8377;"}}
             <button class="menu__button--noborder hvr-grow" ng-click="addItem(menu)"><sub><i class="fas fa-cart-arrow-down"></i></sub></button></li>
          <br>
         </ul>

         <ul class="list-inline">
        <li tooltip-placement="top" uib-tooltip="Alcohol By Volume">abv: {{menu.abv}}</li>
        <li tooltip-placement="top" uib-tooltip="International bittering units">ibu: {{menu.ibu}}</li>
        </ul>
         <li class="menu__category">{{menu.style}}</li>

         <button class="menu__button--noborder hvr-grow" ng-click="addItem(menu)">
           <i class="fas fa-plus-square" ></i></button> {{menu.count}}
         <button class="menu__button--noborder hvr-grow" ng-click="removeItem(menu)">
           <i class="fas fa-minus-square"></i>
         </button>
        <li><i class="fas fa-weight"></i> {{menu.ounces}} ounces</li>

       </ul>
       </div>
      </div>

        <div class="col-lg-3 col-md-4 visible-lg visible-md pull-right cart cart--affix">
          <div class="affix well">
            <!-- <p>{{main.hello}}</p> -->
            <p class="lead cart__title" ng-show="cartEmpty"><i class="fas fa-shopping-cart"></i>
              Cart
            </p>
            <p class="lead cart__title" ng-hide="cartEmpty"><i class="fas fa-cart-plus rotonce"></i> Cart

              <button class="pull-right hvr-grow" ng-click="emptyCart()" uib-tooltip="Deletes the entire cart"><i class="fas fa-trash" tooltip-placement="top"></i> </button>


            </p>

            <div class="cart__content">
            <small ng-show="cartEmpty">View your cart here.</small>
            <p  ng-repeat="item in cartObjItems">

              <small>{{ item.name | limitTo: 10 }}{{item.length > 15 ? '...' : ''}}</small>
              <i class="fas fa-times"></i>
              {{item.count}}
                  <small class="pull-right"><i class="fas fa-rupee-sign"></i>{{item.cost}}</small>
            </p>
            <hr ng-show="cartObjItems.length>0">
            <p ng-show="cartObjItems.length>0"><strong>Total</strong> <small class="pull-right"><i class="fas fa-rupee-sign"></i>{{total}}</small></p>
            <button class="btn btn-lg btn-warning btn--checkout" ng-hide="cartEmpty" abm-component><i class="fas fa-credit-card"></i> Checkout</button>
            </div>
          </div>
        </div>


  </div>

    </div>
  <!-- </div> -->

<i class="light-spinner" ng-show="adapter.isLoading"></i>
  <br>
  <br>
</main>
</div>
</div>
