<footer  abm-component>
<div class="container">

<div class="white">
  <div class="text-center ">
    <p class="lead">Welcome to Vivitri Craft Beer, A responsive PWA (progressive web app) for all your beer needs.</p>
  </div>

  <p>Quickly research various delicious beer we have to offer and order from our site and get it delivered on your doorstep within minutes. </p>
  <p>Godspeed!</p>

</div>
<hr>
<br>
<br>

  <p class="lead white text-center">Yes, we're social!</p>
    <ul class="text-center" >
      <li class="instagram"><a href="https://instagram.com/abhineet312" class="btn hvr-grow" abm-component target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li class="twitter"><a href="https://twitter.com/abhineet312" class="btn hvr-grow" abm-component target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li class="github"><a href="https://github.com/abe312" class="btn hvr-grow" abm-component target="_blank"><i class="fab fa-github"></i></a></li>
      <li class="stackoverflow"><a href="https://stackoverflow.com/users/3719699/abe312" class="btn hvr-grow" abm-component target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
      <li class="linkedin"><a href="https://linkedin.com/in/abhineet312" class="btn hvr-grow" abm-component target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="angellist"><a href="https://angel.co/abhineet312" class="btn hvr-grow" abm-component target="_blank"><i class="fab fa-angellist"></i></a></li>
    </ul>
    <br>


    <div class="text-center">
        <p class="hvr-grow white" >Copyright &copy; {{year}}</p>
    </div>



    <a href="https://abhineet.me" style="text-decoration: none;" class="white author">
        <div class="text-center">
            <p class="text-center white" style="display: inline-block;">Made with <i class="fas fa-heart heartbeat animate-infinite-heartbeat"></i> by </p> <p id="spinner" style="font-size: 1.825em;display: inline-block; color: white;" >S</p>
        </div>
    </a>


</div>
</footer>
