<main class="text-center pricing" id="pricing">
  <br>
  <br>
    <p class="lead">We offer simple <mark>pay as you go</mark> options as of now.</p>
    <div class="col-md-5 pricing__android well">
      <h1 class="pricing__android--title">Android</h1>
      <p class="pricing__android--content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus reprehenderit veritatis aut, itaque voluptatibus deserunt eveniet dolores. Voluptate debitis facilis possimus delectus, quis minima. Commodi doloribus aut quibusdam, cupiditate non.</p>
    </div>
    <div class="col-md-5 pricing__ios well">
      <h1 class="pricing__ios--title">ios</h1>
      <p class="pricing__ios--content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam odit, possimus unde blanditiis corporis et esse voluptatum dolorum ea ad vitae repudiandae deserunt, iusto ab iste, quaerat mollitia ullam perspiciatis.</p>
    </div>
    <!-- fml -->
    <div class="clearfix"></div>
    <br>
    <p class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, impedit consectetur harum temporibus atque laboriosam vero! Ab, adipisci dolorum deserunt deleniti qui a fugit quas tenetur autem quos saepe. Voluptate.</p>
</main>
