



//Animation
@mixin animation ($animation, $duration, $animationCount: 1, $delay: 0s, $timingFunction: ease, $animationFillMode: forwards, $animationDirection: normal) {

    -webkit-animation-name: $animation;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $animationCount;
    -webkit-animation-delay: $delay;
    -webkit-animation-timing-function: $timingFunction;
    -webkit-animation-fill-mode: $animationFillMode;
    -webkit-animation-direction: $animationDirection;

    -moz-animation-name: $animation;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: $animationCount;
    -moz-animation-delay: $delay;
    -moz-animation-timing-function: $timingFunction;
    -moz-animation-fill-mode: $animationFillMode;
    -moz-animation-direction: $animationDirection;

    -o-animation-name: $animation;
    -o-animation-duration: $duration;
    -o-animation-iteration-count: $animationCount;
    -o-animation-delay: $delay;
    -o-animation-timing-function: $timingFunction;
    -o-animation-fill-mode: $animationFillMode;
    -o-animation-direction: $animationDirection;

    animation-name: $animation;
    animation-duration: $duration;
    animation-iteration-count: $animationCount;
    animation-delay: $delay;
    animation-timing-function: $timingFunction;
    animation-fill-mode: $animationFillMode;
    animation-direction: $animationDirection;

}

@mixin mykeyframe ($animation_name) {
  @-webkit-keyframes #{$animation_name} {
      @content;
  }

  @-moz-keyframes #{$animation_name} {
      @content;
  }

  @-o-keyframes #{$animation_name} {
      @content;
  }

  @keyframes #{$animation_name} {
      @content;
  }
}














//header-filter class for gradient on the image
.header-filter::after{
    background: rgba(32,92,127, 0.56);
    background: -webkit-linear-gradient(60deg, rgba(32,92,127, 0.56), rgba(29,83,114, 0.95));
    background: -o-linear-gradient(60deg, rgba(32,92,127, 0.56), rgba(29,83,114, 0.95));
    background: -moz-linear-gradient(60deg, rgba(32,92,127, 0.56), rgba(29,83,114, 0.95));
    background: linear-gradient(60deg, rgba(32,92,127, 0.56), rgba(29,83,114, 0.95));
}

.header-filter::before, .header-filter::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

//blur filter
@mixin blur($val){
    filter: blur($val);
}
