

// @import "family"; this is for eyeglass only

@import "./helpers/variables.scss";
@import "./helpers/fonts";


@import "./helpers/bs3-variables";
@import "./helpers/functions";



// @import "../bower_components/material-kit/assets/sass/material-kit.scss";
// @import "../bower_components/material-kit/assets/css/material-kit.css";

$icon-font-path: "../bower_components/angularjs-sass-pack/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/angularjs-sass-pack/font-awesome/web-fonts-with-css/webfonts/";
// bower:scss
@import "family.scss/source/src/_family.scss";
@import "bourbon/core/_bourbon.scss";
@import "sass-mq/_mq.scss";
@import "animatewithsass/animate.scss";
@import "angularjs-sass-pack/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "angularjs-sass-pack/bootstrap-material-design/dist/css/bootstrap-material-design.min.scss";
@import "angularjs-sass-pack/font-awesome/web-fonts-with-css/scss/fa-brands.scss";
@import "angularjs-sass-pack/font-awesome/web-fonts-with-css/scss/fa-regular.scss";
@import "angularjs-sass-pack/font-awesome/web-fonts-with-css/scss/fa-solid.scss";
@import "angularjs-sass-pack/font-awesome/web-fonts-with-css/scss/fontawesome.scss";
// endbower
// 3 sass libraries + bootstrap-material-design + material-kit + hoverJs + animate.css [that's it for now] { plus uibootstrap ofc plus uirouter too }
@import "layout/base";
@import "./layout/header";
@import "./layout/footer";

@import "./pages/home";
@import "./helpers/mixins";
@import "./components/effects";





//ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
    display: none !important;
}
