{% extends 'base_layout.html' %}

{%block content%}
    <h1>Event List</h1>
    <div class="events">
        {% for event in events %}
        <div class="event">
            <h2><a href="{% url 'events:detail' slug=event.slug %}">{{event.title}}</a></h2>
            <p>{{event.snippet}}</p>
            <p class="author">added by {{event.author.username}}</p>


            <a href="{% url 'events:register' slug_register=event.slug %}">Register <i class="fas fa-user-plus"></i></a>



            <br>
            <br>
            <small>{{event.date}}</small>

        </div>
        {% endfor %}
    </div>
{% endblock %}
