

main#home {
  /* width: 120%; */
  /* margin: 0 auto; */

  min-height: 450px;
  background-color: #e3e3e3;
  padding: 0 50px;
  // border-radius: 15px;
  // margin: -150px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: relative;
  display: block;
  overflow: auto;
  div.title{
    padding-top: 3vh;
    padding-bottom: 2vh;
  }


  .fas.fa-map-marker {
    font-size: 2.25em;
    color: #e5e5e5;
  }

  p.location {
    font-size: 1.65em;
    color: #e5e5e5;

    &.hvr-icon-drop:before {
      right: 0;
      left: -190px;
    }
    margin-left: 45px;
  }



  .title > h3,
  .title > p {
    padding-top: 0;
    color: #333;
    line-height: 1.4em;
    font-size: 1.825em;
  }
}

h1.white {
  font-size: 4em;
  color: #e5e5e5;
}


//
// header{
//
//     background: rgba(32,92,127, 0.36);
//     background: -webkit-linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.95));
//     background: -o-linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.95));
//     background: -moz-linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.95));
//     background: linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.95));
//
// }

ul#scroll{
  min-height: 500px;
  // overflow-y: hidden !important;
}

.viewport {
  margin-top: 15px;
  height: 500px;
  overflow: auto;
  padding-bottom: 25px;
  // overflow-y: hidden !important;
  /*custom*/
  /*!custom*/
  @include mq($until: xs){
    .viewport {
      width: 135%;
    }
  }
}


@media screen and (min-height: 500px) {
  .viewport:not(.viewport-height-fixed) {
    height: calc(100vh - 200px);
    /*custom*/
    /*!custom*/
  }
  .viewport:not(.viewport-height-fixed)#viewport-persistentScroll {
    height: calc(100vh - 300px);
  }
  .viewport:not(.viewport-height-fixed)#viewport-positionedList {
    height: calc(100vh - 320px);
  }
  .viewport:not(.viewport-height-fixed)#viewport-listScroller {
    height: calc(100vh - 280px);
  }
  .viewport:not(.viewport-height-fixed)#viewport-windowviewportInline {
    height: calc(100vh - 230px);
  }
  .viewport:not(.viewport-height-fixed)#viewport-cache {
    height: calc(100vh - 300px);
  }
}




#viewport-positionedList ul.well{
  height: 220px;
  @include mq($until: xs){
    height: 400px;
  }
  overflow-y: hidden;

  a{
    text-decoration: none;
    box-shadow: 0;
    border-bottom: 0;
  }
  &:hover{
    border: 1px solid green;
  }
  li{
    margin-top: 2px;
    margin-bottom: 2px;
  }
  button.menu__button--noborder{
    background: #fff;
     @include after-first(1){
       padding-left: 0;
       padding-right: 0;

     }
  }
}

.cursive{
  font-family:  $font-stack-system !important;
}

// input{
//   margin-bottom: 200px;
//   border: 1px solid white;
//   margin-left: 5%;
//   margin-right: 10vw;
//   width: 80%;
// }
input{
  width: 80%;
}
.input-group, .form-control{
  color: white;
  text-align: center;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn{
  border: 1px solid rgba(white, 0.3);
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}


.fas.fa-search{
  color: lighten(orange, 13%);
  margin-right: 2vw;
}



.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;

}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}


::-webkit-scrollbar-track-piece  {
  background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0A4C95;
}


$cart-color: rgba(lighten(orange, 20%), 0.7);

.cart{
  padding: 3px ;
  background-color: rgba(white, 0.3);

  .affix.well {
    padding: 0;
    width: calc(200px + 4vw);
    @include mq($until: lg){
      width: calc(200px + 5vw);
      z-index: 1000;
    }
  }
  small{
    padding-top: 1px;
    padding-bottom: 5px;
  }
  &__title{
    background: $cart-color;
    margin: 0;
    padding: 7px;
    margin-bottom: 2vh;
    // p{
    //   display: inline-block;
    //   margin-right: 20px;
    // }

    button{
      background: transparent;
      border: none;
    }
  }
  &__content{
      padding-bottom: 20px;
      padding-left: 5px;
      padding-right: 5px;
      margin: 5px;

    }
}

.well.cart--smallscreen {
  padding: 0 !important;
}

ul.options{
  margin-left: auto !important;
  margin-right: auto !important;
}
.options button{
  border: 1px solid darken($cart-color, 10%);
  margin-right: 3px;
  &.active, &:active{
    background: $cart-color;
    color: darken($cart-color, 10%);
  }

}

.menu{
  &--veg{
    color: rgba(green, 0.7);
  }
  &--nonveg{
    color: rgba(red, 0.7);
  }
  &__button{
    &--noborder{
      border: none;
    }
  }
}

button.fas.fa-trash{
  color: rgba(black, 0.7);
  font-size: 0.8em;
}

button.btn--checkout{
  border: 1px solid orange;
}
