.border-dashed{
  border: 1px dashed grey;
}
.clear{
  @include clearfix();
}
.pricing{
  &__ios, &__android{
    margin: 3.5%;
    padding: 0 !important;
    // border-radius: 1%;

    &--title{
      background: rgba(green, 0.7);
      margin: 0;
      padding: 5px;
      margin-bottom: 2vh;

    }
    &--content{
      padding-bottom: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

// .pricing{
//   div{
//     @include last(1){
//       // @extend .clearfix;
//             background: orange !important;
//       &::after{
//       @extend .clear;}
//       clear: both !important;
//
//     }
//   }
// }
