main{
  margin-top: 50px;
  border-radius: 0.5%;
  min-height: 500px;
  background: #e9e9e9;
  padding: 1%;
  display: block;
  line-height: 1.5em;
  a{
    font-weight: bolder;
    // border-bottom: 1px solid #e0d6eb;
    text-decoration: none !important;
    color: lighten(orange, 18%);
    border-bottom: 1px solid lighten(orange, 20%);
    box-shadow: inset 0 -1px 0px 0px lighten(orange, 20%);

    &:hover{
      transition: all 200ms ease-in;
      background:lighten(orange, 40%);
      color: lighten(orange, 13%);

    }
  }
}



.wrapper__padding{
  &--1{
    padding: 1%;
  }
  &--2{
    padding: 2%;
  }
  &--4{
    padding: 4%;
  }
}




body, html{
  font-family: $font-stack-monaco !important;
  min-height: 100% !important;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


// ::-webkit-scrollbar {
//     display: none;
// }


body{
  background: #25a4d7; /* Old browsers */
  background-image: -moz-linear-gradient(45deg, #25a4d7 0%, #192449 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(45deg, #25a4d7 0%,#192449 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(45deg, #25a4d7 0%,#192449 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

main{
  background-image: url(../images/light-grey-terrazzo.webp);
}



blockquote{
    border-left: 5px solid darken(orange, 5%);
    background-color: #e9e9e9;
}



//for toast
.alert.alert-success{

  background-color: rgba(lighten(white, 15%), 0.6) !important;
  border-radius: 4% !important;
  border: 0 !important;
  border-left: 3px solid darken(orange, 10%) !important;
  color: darken(orange, 5%) !important;

}


.input__search{
  width: 108% !important;
  // @include mq($until: lg){
  //   width: 90% !important;
  // }
  @include mq($until: md){
    width: 110% !important;
  }
  @include mq($until: sm){
    width: 112% !important;
  }

}

// .btn[disabled], ul[disabled], div[disabled]{
//
//   // pointer-events: none;
//   cursor:not-allowed;
//
// }
#viewport-positionedList ul.food__menu[disabled='disabled']{
  cursor:not-allowed;
  background-color: rgba(lighten(red, 25%), 0.1);
  button{
    pointer-events: none;
    background-color: rgba(lighten(red, 25%), 0.05);
  }
  &:hover{
    border: 1px solid red;
  }
}

#viewport-positionedList ul.food__menu[ng-disabled='false']{
  background-color: rgba(lighten(green, 25%), 0.05);
  button{

    background-color: rgba(lighten(green, 25%), 0.025);
  }
}


i.fas.fa-exclamation-triangle{
  color: darken(orange, 5%);
}

div.autocomplete{
  i, autocomplete, p{
  display: inline-block !important;
  // @include mq($from: lg){width: 50vw; !important}
}
  .autocomplete{
    ul{
      border-left: 0 !important;
      border-bottom: 0 !important;
    }
  }
}
div.autocomplete input{
  margin-top: 20px;
  // margin-left: 0 !important;
  margin-bottom: 20px !important;
  z-index: 66666 !important;
  border: 1px solid darken(orange, 5%) !important;
  opacity: 1 !important;
  // width: 80% !important;
  // width: 60%;

  // padding-left: 0 !important;
  text-align: center;
  padding: 10px !important;
  // display: inline-block !important;
  // width: 80%;
  width: 60vw !important;
  // @imclude mq($from: lg){
  //   width: 40vw !important;
  //
  // }
  border-radius: 1%;

  ul{
    // padding-left: 0;
    // margin-left: 0;
    left: -5% !important;
    margin-left: -5% !important;
    background: #fff !important;
    opacity: 1;
  }
}

.noborder{
  border: none !important;
  background: transparent !important;
}
