%background-footer-social{
  height: 150px;
  margin-top: 200px;
  display: block;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer{

  @extend %background-footer-social;

  ul{
    list-style: none;
    @include mq($until: xs){
      margin-left: -15%;
    }
  }
  a{
    height: 40px;
    width: 75px;
    &.btn{
      margin-top: 0;
    }
    margin-left: -3px !important;
  }
  li{
    display: inline-block;
    // border: 1px solid blue;
    border-radius: 10%;
    height: 40px;
    width: 75px;
    margin-top: 5px;

    &.stackoverflow{
      background: #e6683c;
      &:hover{
        background: darken(orange, 15%);
      }
    }
    &.github{
      background: #333333;
      &:hover{
        background: darken(#333333, 15%);
      }
    }
    &.twitter{
      background: #55acee;

      &:hover{
        background: darken(#55acee, 15%);
      }
    }
    &.quora{
      background: darken(#e6683c, 25%);
      &:hover{
        background: darken(#e6683c, 35%);
      }
    }
    &.linkedin{
      background: lighten(#3b5998, 10%);
      &:hover{
        background: darken(#3b5998, 25%);
      }
    }
    &.instagram{
      background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      &:hover{
        background: darken(#dc2743, 15%);
      }
    }
    &.medium{
      background:rgb(77, 218, 55);
      &:hover{
        background: darken(rgb(77, 218, 55), 25%);
      }
    }
    &.angellist{
      background: #ccc;
      &:hover{
        background: darken(#ccc, 25%);
      }
    }
  }
}






/**  Footer animations  **/
footer{
  // font-size: 25px ;
  .author, .author div p{
    &:hover{
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    }
  }
  .fas.fa-heart{
    font-size: 25px ;
    color: rgba(#dc2743, 0.9);
  }
  .fab{
    font-size: 25px ;
    color: rgba(#f9f9f9, 0.7);

    &:hover{
      color: lighten(#f9f9f9, 25%);
    }
  }
}


//heartbeat animation
@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform:scale(1)
  }
  50% {
    -webkit-transform:scale(1.4)
  }
  100% {
    -webkit-transform:scale(1)
  }
}

@-moz-keyframes heartbeat {
  0% {
    -moz-transform:scale(1)
  }
  50% {
    -moz-transform:scale(1.4)
  }
  100% {
    -moz-transform:scale(1)
  }
}

@-o-keyframes heartbeat {
  0% {
    -o-transform:scale(1)
  }
  50% {
    -o-transform:scale(1.4)
  }
  100% {
    -o-transform:scale(1)
  }
}

@keyframes heartbeat {
  0% {
    transform:scale(1)
  }
  50% {
    transform:scale(1.4)
  }
  100% {
    transform:scale(1)
  }
}

.heartbeat {
  -webkit-animation-name: heartbeat;
  -moz-animation-name: heartbeat;
  -o-animation-name: heartbeat;
  animation-name: heartbeat;
}

.animate-infinite-heartbeat {
  -webkit-animation: heartbeat 3s infinite;
  animation: heartbeat 3s infinite;
}




//spin footer
#spinner {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4.125s;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  color: #333;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}
