.white{
    color: #fff;
}

.navbar, .navbar.navbar-default{
  background-color: transparent !important;

}

header nav a.white {
    color: #fff;
    position: absolute;
    /* float: right; */
    font-size: 0.8em;
    top: 0.5vh;
    right: 0.5vw;
    text-decoration: none;
}


//mobile X button menu -- start
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 30px;
  height: 5px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
// mobile X button menu end

header{
    margin-bottom: 150px;
    @include mq($until: md){
      margin-bottom: 10px;
    }
    font-size: 20px;
    .navbar-nav>li>a{
      color: #e7e7e7 !important;
      background-color: transparent;
      box-shadow: none;
      color: #e7e7e7;
      font-size: 1.1em;
    }
}

.dropdown-menu{
  background-color: transparent;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu > li > a{
  opacity: 1;
  background-color: transparent;
  color: #e7e7e7;
  margin-left: 10px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
//    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
//    color: #555;
box-shadow: 2px;
}


header .navbar-toggle.collapsed, .icon-bar{
  // font-size: 25px;
  color: #f9f9f9;
  // background-color: #f9f9f9;
  &:hover{
    color: lighten(#f9f9f9, 25%);
  }

}

.navbar.navbar-transparent {
  background-color: transparent;
  box-shadow: none;
  color: #e7e7e7;
  padding-top: 25px;
}
.navbar-default, .navbar-nav, div#bs-example-navbar-collapse-1 {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #e7e7e7;
}

// .backimg{
// background-image: url(../images/working.jpg);
// // transform: translate3d(0px, 0px, 0px);
// }



.navbar-collapse.in {
  overflow-y: hidden;
}
.horizontal-collapse {
  height: 70px;
}



#header-social li {
  padding: 2px;
  // background: rgba(32,92,127, 0.36);
  // background: -webkit-linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.55));
  // background: -o-linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.55));
  // background: -moz-linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.55));
  // background: linear-gradient(60deg, rgba(32,92,127, 0.36), rgba(29,83,114, 0.55));

  a{
    padding: 2px;
  }
}

.profile-avatar li a{
  padding: 3.5px !important;
}

.rotate{
    // -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    // transition: all 0.5s linear;
}

.rotate.up{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fas.fa-chevron-down{
  font-size: 0.75em !important;
}




img.title {
    // position: relative;
    // top: 3.5vh;
    // margin-top: -80px;
    // margin-bottom: 50px;
    // width: 24vw;
    //
    //
    // @include mq($until: lg){
    //   top: 7vh;
    //   height: 15vh;
    //   left: -5vw;
    //   width: 18vw;
    // }
    // @include mq($from: lg){
    //   top: 5vh;
    //   left: -2vw;
    //   height: 16vh;
    //   width: 18vw;
    // }
    // @include mq($until: md){
    //   width: 25vw;
    //   left: 5vw;
    //   height: 15vh;
    //   top: 3vh;
    // }
    // @include mq($from: sm, $until: md, $and: $landscape){
    //   top: 15vh;
    //   height: 25vh;
    //
    // }
    float: left;
    width: 25vw;
    height: 18vh;
    margin-top: -4vh;
    position: relative;
    left: -8vw;
    @include mq($until: md){
      width: 35vw;
      height: 15vh;
      margin-left: 5vw;
    }
    @include mq($until: sm){
      width: 40vw;
      height: 15vh;
      margin-left: 6vw;
    }
}
